/* Links
–––––––––––––––––––––––––––––––––––––––––––––––––– */
a {
    color: #222034;
    text-decoration: none; }
a:hover {
    color: #3f3f74;
    text-decoration: none;  }
  
/* Menu centering
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.menuitem{
    text-align: center;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

/* Custom Text Styling
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.section.title {
}