/* Links
–––––––––––––––––––––––––––––––––––––––––––––––––– */
a {
    color: #222034;
    text-decoration: none; 
}

a:hover {
    color: #3f3f74;
    text-decoration: none;  
}

.file {
    text-decoration: bold; 
}
  
/* Menu centering
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.menuitem{
    text-align: center;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* Section styling
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.section.title {
    text-align: center;
    color: #222034;
}

.section.div {
    padding: 10px 10px 10px 10px;
    border-style: solid;
    border-width: 3px;
    height: inherit;
    border-radius: 8px;
    margin-bottom: 4%;
    line-height: 1;
}

.red {
    background-color: #d95763; 
    border-color: #d95763;
}

.green {
    background-color: #99e550; 
    border-color: #99e550;
}

.blue {
    background-color: #639bff; 
    border-color: #639bff;
}

.orange {
    background-color: #df7126;
    border-color: #df7126;
}

.pink {
    background-color: #d77bba;
    border-color: #d77bba;
}

.yellow {
    background-color: #fbf236;
    border-color: #fbf236;
}

.salmon {
    background-color: #d95763;
    border-color: #d95763;
}

.lightblue {
    background-color: #5fcde4;
    border-color: #5fcde4;
}

.grey {
    background-color: #9badb7; 
    border-color: #9badb7;
}

/* Character styles
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.stat {
    margin-bottom: 0px;
    magin-top: 0px;
}

/* Misc Styles
–––––––––––––––––––––––––––––––––––––––––––––––––– */
hr {
    border-color: #222034;
    width: 100%;
    align: center;
}