/* Links
–––––––––––––––––––––––––––––––––––––––––––––––––– */
a {
    color: #222034;
    text-decoration: none; 
}

a:hover {
    color: #3f3f74;
    text-decoration: none;  
}

.file {
    text-decoration: bold; 
}
  
/* Menu centering
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.menuitem{
    text-align: center;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* Section styling
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.section.title {
    text-align: center;
    color: #222034;
}

/* Bottom margin is needed on non-nested sections so that they are seperated in mobile layout*/
.row .section.div {
    padding: 10px 10px 10px 10px;
    border-style: solid;
    border-width: 3px;
    /* FIX SECTION DIV HEIGHTS */
    height: inherit;
    border-radius: 8px;
    margin-bottom: 4%;
}

/* Bottom margin is unecesary in nested sections*/
.section.div .section.div{
        padding: 10px 10px 10px 10px;
    border-style: solid;
    border-width: 3px;
    height: inherit;
    border-radius: 8px;
    margin-bottom: 0;
}

.red {
    background-color: #d95763; 
    border-color: #d95763;
}

.green {
    background-color: #99e550; 
    border-color: #99e550;
}

.blue {
    background-color: #639bff; 
    border-color: #639bff;
}

.grey {
    background-color: #9badb7; 
    border-color: #9badb7;
}

/* Misc Styles
–––––––––––––––––––––––––––––––––––––––––––––––––– */
hr {
    border-color: #222034;
    width: 100%;
    align: center;
}